<h3 class="fejezetcim">III. ÉRZÉKENYSÉGVIZSGÁLAT </h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="elso3-tab" data-toggle="tab" href="#elso3" role="tab" aria-controls="elso3" aria-selected="true">Elméleti bevezető</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="masodik3-tab" data-toggle="tab" href="#masodik3" role="tab" aria-controls="masodik3" aria-selected="false">Kidolgozott példa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="harmadik3-tab" data-toggle="tab" href="#harmadik3" role="tab" aria-controls="harmadik3" aria-selected="false">Példafeladat kódjai</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="negyedik3-tab" data-toggle="tab" href="#negyedik3" role="tab" aria-controls="negyedik3" aria-selected="false">Feladatok</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">

    <!--3.1 content-->
    <div class="tab-pane fade show active" id="elso3" role="tabpanel" aria-labelledby="elso3-tab">
        <h4 class="alfejezetcim"> 3.1 Elméleti bevezető: </h4>

        <div class="paperUp">

        </div>

    </div>

    <!--3.2 content-->
    <div class="tab-pane fade" id="masodik3" role="tabpanel" aria-labelledby="masodik3-tab">
        <h4 class="alfejezetcim"> 3.2 Kidolgozott példa: </h4>

        <div class="paperUp">
            <h5>2.1. Elméleti levezetés, kidolgozás</h5>

            <div class="leiras"> Giapetto Fafaragó C´ege kétfajta, fából készült játékot gyárt: katonákat és vonatokat.</div>
            <li> Egy katon´at 27$-´ert lehet eladni, ´es el˝o´all´ıt´as´ahoz 10$ ´ert´eku˝ nyersanyag szu¨ks´eges ´es minden legy´artott katona 14$-ral n¨oveli Giapetto k¨olts´egeit. </li>
            <li>Egy vonat 21$-´ert adhat´o el, el˝o´all´ıt´as´ahoz 9$ ´ert´eku˝ nyersanyag szu¨ks´eges ´es minden legy´artott vonat 10$-ral n¨oveli Giapetto k¨olts´egeit.</li>
            <div class="leiras"> A vonatok ´es a katon´ak gy´art´asa k´etf´ele szakmunk´at ig´enyel: Felu¨letkezel˝o ´es fafarag´o munk´at</div>
            <li>Egy katona el˝o´all´ıt´asa 2 ´ora felu¨letkezel˝o munk´at ´es 1 ´ora fafarag´o munk´at ig´enyel.</li>
            <li> Egy vonathoz 1 ´ora felu¨letkezel´es ´es 1 ´ora fafarag´as szu¨ks´eges. </li>
            <div class="leiras">Giapettonak korl´atlan mennyis´egu˝ nyersanyag ´all rendelkez´es´ere, viszont csup´an 100 felu¨letkezel˝o ´ora ´es 80 fafarag´o ´ora ´all a rendelkez´es´ere. A vonatok ir´anti kereslet korl´atlan, viszont a katon´akb´ol 40-n´el t¨obbet nem tud eladni.</div>
            <div class="kerdes">Adj tan´acsot Giapettonak, hogy h´any katon´at ´es h´any vonatot gy´artson, hogy a bev´etele a legt¨obb legyen! </div>

            <div class="leiras">Modell:</div>
            <table align="center">
                <tr style="border-bottom: 1px solid rgb(77, 45, 41);">
                    <td>P(x) = </td>
                    <td>3x<sub>1</sub> +</td>
                    <td>2x<sub>2</sub> </td>
                    <td> -> </td>
                    <td> MAX </td>
                </tr>
                <tr>
                    <td style="text-align: left">FAFARAGÁS: </td>
                    <td>x<sub>1</sub> +</td>
                    <td>x<sub>2</sub> </td>
                    <td> &#8804; </td>
                    <td> 80</td>
                </tr>
                <tr>
                    <td style="text-align: left">FELÜLET KEZELÉS: </td>
                    <td>2x<sub>1</sub> +</td>
                    <td>x<sub>2</sub> </td>
                    <td> &#8804; </td>
                    <td> 100</td>
                </tr>
                <tr>
                    <td style="text-align: left">MENNYISÉG: </td>
                    <td></td>
                    <td> x<sub>1</sub> </td>
                    <td> &#8804; </td>
                    <td> 40 </td>
                </tr>
                <tr >
                    <td>x<sub>1</sub>, x<sub>2</sub> &#8805; 0</td>
                </tr>
            </table>

            <div class="leiras">Optim´alis b´azishoz tartoz´o szimplex t´abla: </div>
            <table align="center">
                <tr style="border-bottom: 1px solid rgb(0, 0, 0);">
                    <td>B</td>
                    <td>P<sub>B</sub></td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">X<sup>*</sup> </td>
                    <td> 3</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>A<sub>5</sub></td>
                    <td>0</td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">20 </td>
                    <td> 0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>A<sub>2</sub></td>
                    <td>2</td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">60 </td>
                    <td> 0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>-1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>A<sub>1</sub></td>
                    <td>3</td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">20 </td>
                    <td> 1</td>
                    <td>0</td>
                    <td>-1</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr style="border-top: 1px solid rgb(0, 0, 0);">
                    <td></td>
                    <td>P(x)=180</td>
                    <td></td>
                    <td> 0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
            </table>
    
                <table align="center" style="width: 80%">
                    <tr>
                        <td>Bázismátrix: </td>
                        <td>Inverz mátrix: </td>
                    </tr>
                    <tr>
                        <td style="width: 40%"><img src="../../assets/sources/pictures/Bazismatrix.PNG"></td>
                        <td style="width: 40%"><img src="../../assets/sources/pictures/Inverz.PNG"></td>
                    </tr>
                </table>

            <div class="leiras">V´alaszolja meg az al´abbi k´erd´eseket a feladat u´jb´oli megold´asa n´elku¨l a dualit´as ¨osszefu¨gg´esek alkalmaz´as´aval: </div>

            <div class="kerdes" style="margin-top: 40px">1. V´altozna e Giapetto proﬁtja ilyen munka´ora el´erhet˝os´eg mellett, ha sikeru¨lne 40-n´el t¨obb j´at´ek katon´ara vev˝ot szereznie? </div> 
            <li> Nem, mert a mennyis´eg felt´etel ´arny´ek´ara 0, ´es a megengedhet˝o n¨oveked´esre nincs fels˝o korl´at. Optim´alis esetben sem ´eri meg 20-n´al t¨obbet gy´artani. </li>

            <div class="kerdes" style="margin-top: 40px">2. Giapetto szeretn´e megn¨ovelni a j´at´ekvonatokb´ol sz´armaz´o bev´etelt, szu¨ks´eges e u´jb´oli optimaliz´al´as ha 1$-ral n¨oveli az ´arat? Mennyi lesz ´ıgy az optim´alis proﬁt ´ert´ek?</div> 
            <li> A vonatok ´ar´at megv´altoztathatom az al´abbi m´odon: </li>
            <li> 2−0.5 = 1.5 ≤ p1 ≤ 2 + 1 = 3, azaz ha megn¨oveli 3 $-ra a bev´etelt a vonatokon, akkor is optim´alis lesz a jelenlegi 20 katona, 60 vonat term´ek ¨osszet´etel, a bev´etele pedig ennek megfelel˝oen 60 $-ral n˝o. </li>

            <div class="kerdes" style="margin-top: 40px">3. Egy munkat´ars elt¨orte a kez´et,´ıgy az el´erhet˝o fafarag´o ´or´ak sz´ama lecs¨okkent 10 ´or´aval. Adjunk tan´acsot hogyan ´all´ıtsa be az optim´alis term´ek-¨osszet´etelt a v´allalat! </div> 
            <li> A fafarag´o ´or´ak sz´ama az al´abbi hat´arok k¨oz¨ott mozoghat az adott b´azisban &#123; x<sub>5</sub>, x<sub>2</sub>, x<sub>1</sub> &#125;: 80−20 &#8804; FF &#8804; 80 + 20, azaz meg tudjuk mondani mi legyen ha 10-zel cs¨okkenne az el´erhet˝o ´orasz´am: </li>
            <li> P(x') = 180−(10∗1) = 170, ´ıgy csak 170 $ proﬁtot tud el´erni, az al´abbi m´odon:</li>
            <div style="text-align: center">x<sub>1</sub> + x<sub>2</sub>(+ x<sub>3</sub> = 0) = 80−10 = 70</div>
            <div style="text-align: center">2x<sub>1</sub> + x<sub>2</sub>(+ x<sub>4</sub> = 0) = 100</div>
            <div style="text-align: center">x<sub>1</sub> + x<sub>5</sub> = 40</div>
            <li> x'<sub>1</sub> = 30 j´at´ek katon´at ´es x'<sub>2</sub> = 40 vonatot gy´artson!</li>

            <div class="kerdes" style="margin-top: 40px">4. A felu¨letkezel´es munkafolyamat ´arammal mu˝k¨od˝o g´epeket ig´enyel, ´am a h´eten ´aramszu¨net lesz, Giapetto gener´atorai csup´an 60 felu¨letkezel˝o ´or´ara elegend˝o ´aramot tudnak szolg´altatni. Hogyan v´altoztasson a term´ek¨osszet´etelen, hogy tov´abbra is optim´alisan mu˝k¨odj¨on a v´allalat? </div> 
            <li>  Mivel a felu¨letkezel˝o ´or´ak sz´ama az al´abbi hat´arok k¨oz¨ott mozoghat: 100−20 &#8804; FK &#8804; 100+20 ez´ert abban az esetben ha csup´an 60 ´ora el´erhet˝o nem tudunk tan´acsot adni a modell u´jb´oli megold´asa n´elku¨l. </li>

            <div class="kerdes" style="margin-top: 40px">5. M´eg az ´aramszu¨net el˝ott egy kedves szomsz´ed k¨olcs¨on adott neki egy gener´atort, amivel m´ar 90 felu¨letkezel˝o ´or´ahoz elegend˝o ´aramot tud szolg´altatni, ebben az esetben meg tudjuk e mondani neki hogy hogyan mu˝k¨odtesse v´allalkoz´as´at? </div> 
            <li> Igen, mivel a 90 ´ora a hat´aron belu¨l esik, ´ıgy a proﬁtja : P(x') = 180−10∗1 = 170 $ lesz. </li>
            <li> A term´ek¨osszet´etel pedig az al´abbi m´odon kell be´all´ıtani: </li>
            <div style="text-align: center">x<sub>1</sub> + x<sub>2</sub>(+ x<sub>3</sub> = 0) = 80</div>
            <div style="text-align: center">2x<sub>1</sub> + x<sub>2</sub>(+ x<sub>4</sub> = 0) = 100 − 10 = 90</div>
            <div style="text-align: center">x<sub>1</sub> + x<sub>5</sub> = 40</div>
            <li> x'<sub>1</sub> = 10 j´at´ek katon´at ´es x'<sub>2</sub> = 70 vonatot gy´artson!</li>

        </div>

    </div>

    <!--3.3 content-->
    <div class="tab-pane fade" id="harmadik3" role="tabpanel" aria-labelledby="harmadik3-tab">
        <h4 class="alfejezetcim"> 3.3 Példafeladat kódjai: </h4>

        <div class="paperUp">

            <h5>3.1. IBM CPLEX - Példa kód <button class="btn btn-outline-danger" title="IBM CPLEX példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button>  </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>

            <h5>3.2. Lingo - Példa kód <button class="btn btn-outline-danger" title="Lingo példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button> </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>

            <h5>3.3. R - Példa kód <button class="btn btn-outline-danger" title="R példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button>  </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>
            
            <h5>3.4. SAS/OR - Példa kód <button class="btn btn-outline-danger" title="SAS/ OR példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button>  </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>

        </div>

    </div>

    <!--3.4 content-->
    <div class="tab-pane fade" id="negyedik3" role="tabpanel" aria-labelledby="negyedik3-tab">
        <h4 class="alfejezetcim"> 3.4 Feladatok: </h4>

        <div class="paperUp">

        </div>

    </div>
</div>
