<h3 class="fejezetcim">III. ÉRZÉKENYSÉGVIZSGÁLAT </h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="elso3-tab" data-toggle="tab" href="#elso3" role="tab" aria-controls="elso3" aria-selected="true">Elméleti bevezető</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="masodik3-tab" data-toggle="tab" href="#masodik3" role="tab" aria-controls="masodik3" aria-selected="false">Kidolgozott példa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="harmadik3-tab" data-toggle="tab" href="#harmadik3" role="tab" aria-controls="harmadik3" aria-selected="false">Példafeladat kódjai</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="negyedik3-tab" data-toggle="tab" href="#negyedik3" role="tab" aria-controls="negyedik3" aria-selected="false">Feladatok</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">

    <!--3.1 content-->
    <div class="tab-pane fade show active" id="elso3" role="tabpanel" aria-labelledby="elso3-tab">
        <h4 class="alfejezetcim"> 3.1 Elméleti bevezető: </h4>

        <div class="paperUp">

        </div>

    </div>

    <!--3.2 content-->
    <div class="tab-pane fade" id="masodik3" role="tabpanel" aria-labelledby="masodik3-tab">
        <h4 class="alfejezetcim"> 3.2 Kidolgozott példa: </h4>

        <div class="paperUp">
            <h5>2.1. Elméleti levezetés, kidolgozás</h5>

            <div class="leiras"> Giapetto Fafaragó Cége kétfajta, fából készült játékot gyárt: katonákat és vonatokat.</div>
            <li> Egy katonát 27$-ért lehet eladni, és előállításához 10$ értéku˝ nyersanyag szükséges és minden legyártott katona 14$-ral növeli Giapetto költségeit. </li>
            <li>Egy vonat 21$-ért adható el, előállításához 9$ értéku˝ nyersanyag szükséges és minden legyártott vonat 10$-ral növeli Giapetto költségeit.</li>
            <div class="leiras"> A vonatok és a katonák gyártása kétféle szakmunkát igényel: Felületkezelő és fafaragó munkát</div>
            <li>Egy katona előállítása 2 óra felületkezelő munkát és 1 óra fafaragó munkát igényel.</li>
            <li> Egy vonathoz 1 óra felületkezelés és 1 óra fafaragás szükséges. </li>
            <div class="leiras">Giapettonak korlátlan mennyiségu˝ nyersanyag áll rendelkezésére, viszont csupán 100 felületkezelő óra és 80 fafaragó óra áll a rendelkezésére. A vonatok iránti kereslet korlátlan, viszont a katonákból 40-nél többet nem tud eladni.</div>
            <div class="kerdes">Adj tanácsot Giapettonak, hogy hány katonát és hány vonatot gyártson, hogy a bevétele a legtöbb legyen! </div>

            <div class="leiras">Modell:</div>
            <table align="center">
                <tr style="border-bottom: 1px solid rgb(77, 45, 41);">
                    <td>P(x) = </td>
                    <td>3x<sub>1</sub> +</td>
                    <td>2x<sub>2</sub> </td>
                    <td> -> </td>
                    <td> MAX </td>
                </tr>
                <tr>
                    <td style="text-align: left">FAFARAGÁS: </td>
                    <td>x<sub>1</sub> +</td>
                    <td>x<sub>2</sub> </td>
                    <td> &#8804; </td>
                    <td> 80</td>
                </tr>
                <tr>
                    <td style="text-align: left">FELÜLET KEZELÉS: </td>
                    <td>2x<sub>1</sub> +</td>
                    <td>x<sub>2</sub> </td>
                    <td> &#8804; </td>
                    <td> 100</td>
                </tr>
                <tr>
                    <td style="text-align: left">MENNYISÉG: </td>
                    <td></td>
                    <td> x<sub>1</sub> </td>
                    <td> &#8804; </td>
                    <td> 40 </td>
                </tr>
                <tr >
                    <td>x<sub>1</sub>, x<sub>2</sub> &#8805; 0</td>
                </tr>
            </table>

            <div class="leiras">Optimális bázishoz tartozó szimplex tábla: </div>
            <table align="center">
                <tr style="border-bottom: 1px solid rgb(0, 0, 0);">
                    <td>B</td>
                    <td>P<sub>B</sub></td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">X<sup>*</sup> </td>
                    <td> 3</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>A<sub>5</sub></td>
                    <td>0</td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">20 </td>
                    <td> 0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>A<sub>2</sub></td>
                    <td>2</td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">60 </td>
                    <td> 0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>-1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>A<sub>1</sub></td>
                    <td>3</td>
                    <td style="border-right: 1px solid rgb(0, 0, 0);">20 </td>
                    <td> 1</td>
                    <td>0</td>
                    <td>-1</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr style="border-top: 1px solid rgb(0, 0, 0);">
                    <td></td>
                    <td>P(x)=180</td>
                    <td></td>
                    <td> 0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
            </table>
    
                <table align="center" style="width: 80%">
                    <tr>
                        <td>Bázismátrix: </td>
                        <td>Inverz mátrix: </td>
                    </tr>
                    <tr>
                        <td style="width: 40%"><img src="../../assets/sources/pictures/Bazismatrix.PNG"></td>
                        <td style="width: 40%"><img src="../../assets/sources/pictures/Inverz.PNG"></td>
                    </tr>
                </table>

            <div class="leiras">Válaszolja meg az alábbi kérdéseket a feladat újbóli megoldása nélkül a dualitás összefüggések alkalmazásával: </div>

            <div class="kerdes" style="margin-top: 40px">1. Változna e Giapetto proﬁtja ilyen munkaóra elérhetőség mellett, ha sikerülne 40-nél több játék katonára vevőt szereznie? </div> 
            <li> Nem, mert a mennyiség feltétel árnyékára 0, és a megengedhető növekedésre nincs felső korlát. Optimális esetben sem éri meg 20-nál többet gyártani. </li>

            <div class="kerdes" style="margin-top: 40px">2. Giapetto szeretné megnövelni a játékvonatokból származó bevételt, szükséges e újbóli optimalizálás ha 1$-ral növeli az árat? Mennyi lesz így az optimális proﬁt érték?</div> 
            <li> A vonatok árát megváltoztathatom az alábbi módon: </li>
            <li> 2−0.5 = 1.5 ≤ p1 ≤ 2 + 1 = 3, azaz ha megnöveli 3 $-ra a bevételt a vonatokon, akkor is optimális lesz a jelenlegi 20 katona, 60 vonat termék összetétel, a bevétele pedig ennek megfelelően 60 $-ral nő. </li>

            <div class="kerdes" style="margin-top: 40px">3. Egy munkatárs eltörte a kezét,így az elérhető fafaragó órák száma lecsökkent 10 órával. Adjunk tanácsot hogyan állítsa be az optimális termék-összetételt a vállalat! </div> 
            <li> A fafaragó órák száma az alábbi határok között mozoghat az adott bázisban &#123; x<sub>5</sub>, x<sub>2</sub>, x<sub>1</sub> &#125;: 80−20 &#8804; FF &#8804; 80 + 20, azaz meg tudjuk mondani mi legyen ha 10-zel csökkenne az elérhető óraszám: </li>
            <li> P(x') = 180−(10∗1) = 170, így csak 170 $ proﬁtot tud elérni, az alábbi módon:</li>
            <div class="centeredEquation">
                <p>x<sub>1</sub> + x<sub>2</sub>(+ x<sub>3</sub> = 0) = 80−10 = 70</p>
                <p>2x<sub>1</sub> + x<sub>2</sub>(+ x<sub>4</sub> = 0) = 100</p>
                <p>x<sub>1</sub> + x<sub>5</sub> = 40</p>
            </div>
            <li> x'<sub>1</sub> = 30 játék katonát és x'<sub>2</sub> = 40 vonatot gyártson!</li>

            <div class="kerdes" style="margin-top: 40px">4. A felületkezelés munkafolyamat árammal mu˝ködő gépeket igényel, ám a héten áramszünet lesz, Giapetto generátorai csupán 60 felületkezelő órára elegendő áramot tudnak szolgáltatni. Hogyan változtasson a termékösszetételen, hogy továbbra is optimálisan mu˝ködjön a vállalat? </div> 
            <li>  Mivel a felületkezelő órák száma az alábbi határok között mozoghat: 100−20 &#8804; FK &#8804; 100+20 ezért abban az esetben ha csupán 60 óra elérhető nem tudunk tanácsot adni a modell újbóli megoldása nélkül. </li>

            <div class="kerdes" style="margin-top: 40px">5. Még az áramszünet előtt egy kedves szomszéd kölcsön adott neki egy generátort, amivel már 90 felületkezelő órához elegendő áramot tud szolgáltatni, ebben az esetben meg tudjuk e mondani neki hogy hogyan mu˝ködtesse vállalkozását? </div> 
            <li> Igen, mivel a 90 óra a határon belül esik, így a proﬁtja : P(x') = 180−10∗1 = 170 $ lesz. </li>
            <li> A termékösszetétel pedig az alábbi módon kell beállítani: </li>
            <div class="centeredEquation">
                <p>x<sub>1</sub> + x<sub>2</sub>(+ x<sub>3</sub> = 0) = 80</p>
                <p>2x<sub>1</sub> + x<sub>2</sub>(+ x<sub>4</sub> = 0) = 100 − 10 = 90</p>
                <p>x<sub>1</sub> + x<sub>5</sub> = 40</p>
            </div>
            <li> x'<sub>1</sub> = 10 játék katonát és x'<sub>2</sub> = 70 vonatot gyártson!</li>

        </div>

    </div>

    <!--3.3 content-->
    <div class="tab-pane fade" id="harmadik3" role="tabpanel" aria-labelledby="harmadik3-tab">
        <h4 class="alfejezetcim"> 3.3 Példafeladat kódjai: </h4>

        <div class="paperUp">

            <h5>3.1. IBM CPLEX - Példa kód <button class="btn btn-outline-danger" title="IBM CPLEX példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button>  </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>

            <h5>3.2. Lingo - Példa kód <button class="btn btn-outline-danger" title="Lingo példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button> </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>

            <h5>3.3. R - Példa kód <button class="btn btn-outline-danger" title="R példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button>  </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>
            
            <h5>3.4. SAS/OR - Példa kód <button class="btn btn-outline-danger" title="SAS/ OR példakód letöltése" (click)="downloadFailedSnackBar()"><i class="material-icons">save_alt</i></button>  </h5>
            <textarea highlight-js [options]="{}" [lang]="">
            >

            </textarea>

        </div>

    </div>

    <!--3.4 content-->
    <div class="tab-pane fade" id="negyedik3" role="tabpanel" aria-labelledby="negyedik3-tab">
        <h4 class="alfejezetcim"> 3.4 Feladatok: </h4>

        <div class="paperUp">

            <!--feladat1-->
            <div class="card">
                <div class="card-header">
                    1.feladat
                </div>
                <div class="card-body">
                    <div class="leiras">Juli néni gofrit és palacsintát árul a strandon. Két alapanyag szükséges ezek előállításához: tej és liszt. Minden eladott gofri után 50 forint és minden eladott palacsinta után 40 forint proﬁtja lesz. Egy gofrihoz 10 dkg liszt, 13 cl tej szükséges. Egy palacsintához 8 dkg liszt, 6.5 cl tej szükséges. Viszont Juli néninek végesek a készletei,így lisztből csak 8 kg, tejből 84.5 dl áll rendelkezésre.  </div>
                    <div class="kerdes">Mennyi palacsintát és mennyi gofrit csináljon, hogy maximális legyen a proﬁtja? </div>
                    <div class="leiras">Modell: </div>
                    <div class="centeredEquation">
                        <p> P(x) = 50x<sub>1</sub> + 40x<sub>2</sub> → MAX</p>
                        <p> 1.) 10x<sub>1</sub> + 8x<sub>2</sub> &#8804; 800</p>
                        <p> 2.) 13x<sub>1</sub> + 6.5x<sub>2</sub> &#8804; 845</p>
                        <p> x<sub>1</sub>, x<sub>2</sub> &#8805; 0</p>
                    </div>
                    <div class="leiras">Optimális bázishoz tartozó szimplex tábla: </div>
                    <table align="center">
                        <tr style="border-bottom: 1px solid rgb(0, 0, 0);">
                            <td>B</td>
                            <td>P<sub>B</sub></td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">X<sup>*</sup> </td>
                            <td> 50</td>
                            <td>40</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>A<sub>2</sub></td>
                            <td>40</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">50 </td>
                            <td> 0</td>
                            <td>1</td>
                            <td>1/3</td>
                            <td>-10/39</td>
                        </tr>
                        <tr>
                            <td>A<sub>1</sub></td>
                            <td>50</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">40 </td>
                            <td> 1</td>
                            <td>0</td>
                            <td>-1/6</td>
                            <td>8/39</td>
                        </tr>
                        <tr style="border-top: 1px solid rgb(0, 0, 0);">
                            <td></td>
                            <td>P(x)=4000</td>
                            <td></td>
                            <td> 0</td>
                            <td>0</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                    </table>

                    <div class="kerdes" style="margin-top: 40px"> Válaszolja meg az alábbi kérdéseket a feladat újbóli megoldása nélkül a dualitás összefüggések alkalmazásával: </div> 
                    <li> Melyik nyersanyagból marad és mennyi ha az optimális termelési tervet követjük? </li>
                    <li> Ha az aktuális liszt készletemet egy egységgel bővítem, hogyan változik a célfüggvény értéke, azaz a maximális proﬁt? </li>
                    <li> A liszt feltétel milyen határai között marad a jelenlegi bázis az optimális? Határozzuk meg az optimális megoldást abban az esetben, ha 6kg liszt áll rendelkezésre! </li>
                    <li> Mennyivel változhat a palacsinta ára, hogy az aktuális optimális megoldás optimális maradjon? </li>
                    
                </div>
            </div>

            <!--feladat2-->
            <div class="card">
                <div class="card-header">
                    2.feladat
                </div>
                <div class="card-body">
                    <div class="leiras"> Egy kis ruházati vállalat konfekció öltönyöket és női kosztümöket gyárt. Minden kosztümön 4 $ haszna van, míg minden öltönyön 3 $. Minden öltöny illetve kosztüm egy óra szabást igényel. Egy kiszabott kosztümöt 2, míg egy kiszabott öltönyt 1 óra alatt lehet megvarrni. Heti termelési terv elkészítéséhez tudjuk, hogy egy héten maximum 40 óra fordítható szabásra és 60 varrásra. Az anyagból rendelkezésre álló mennyiség feltételezésünk szerint korlátlan </div>
                    <div class="kerdes"> Adjunk tanácsot a cégnek, hogy a maximális proﬁthoz mennyi kosztümöt és öltönyt készítsen egy héten! </div>
                    <div class="leiras">Modell: </div>
                    <div class="centeredEquation">
                        <p> P(x) = 4x<sub>1</sub> + 3x<sub>2</sub> → MAX</p>
                        <p> 1.) x<sub>1</sub> + x<sub>2</sub> &#8804; 40</p>
                        <p> 2.) 2x<sub>1</sub> + x<sub>2</sub> &#8804; 60</p>
                        <p> x<sub>1</sub>, x<sub>2</sub> &#8805; 0</p>
                    </div>
                    <div class="leiras">Optimális bázishoz tartozó szimplex tábla: </div>
                    <table align="center">
                        <tr style="border-bottom: 1px solid rgb(0, 0, 0);">
                            <td>B</td>
                            <td>P<sub>B</sub></td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">X<sup>*</sup> </td>
                            <td> 4</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>A<sub>2</sub></td>
                            <td>3</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">20 </td>
                            <td> 0</td>
                            <td>1</td>
                            <td>2</td>
                            <td>-1</td>
                        </tr>
                        <tr>
                            <td>A<sub>1</sub></td>
                            <td>4</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">20 </td>
                            <td> 1</td>
                            <td>0</td>
                            <td>-1</td>
                            <td>1</td>
                        </tr>
                        <tr style="border-top: 1px solid rgb(0, 0, 0);">
                            <td></td>
                            <td>P(x)=140</td>
                            <td></td>
                            <td> 0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                    </table>

                    <div class="kerdes" style="margin-top: 40px"> Válaszolja meg az alábbi kérdéseket: </div> 
                    <li> Melyik munkafolyamat egy órányi bővítése eredményezne nagyobb proﬁt növekedést? </li>
                    <li> Amennyiben az eladási árakat úgy változtatom, hogy egy kösztümön ezután már csak 3 $ (1$) hasznom van hogyan változik az optimális megoldás/bázis? </li>
                    <li> Ha egy varrónő szabadságra megy, és így a rendelkezésre álló varrás órák száma 8-cal csökken, hogyan változik az optimális bázis és a maximális haszon? Szükséges e a probléma újbóli megoldása a kérdés megválaszolásához? </li>
                    <li> Ha két szabónő elmegy szabadságra, ésígy a rendelkezésre álló szabás órák száma 16-tal csökken, hogyan változik az optimális bázis és a maximális haszon? Szükséges e a probléma újbóli megoldása a kérdés megválaszolásához? </li>
                    
                </div>
            </div>

            <!--feladat3-->
            <div class="card">
                <div class="card-header">
                    3.feladat
                </div>
                <div class="card-body">
                    <div class="leiras">Modell: </div>
                    <div class="centeredEquation">
                        <p> P(x) = 5x<sub>1</sub> + 4x<sub>2</sub> → MAX</p>
                        <p> 1.) 5x<sub>1</sub> + 2x<sub>2</sub> &#8804; 60</p>
                        <p> 2.) 2x<sub>1</sub> + x<sub>2</sub> &#8804; 25</p>
                        <p> x<sub>1</sub>, x<sub>2</sub> &#8805; 0</p>
                    </div>
                    <div class="leiras">Optimális bázishoz tartozó szimplex tábla: </div>
                    <table align="center">
                        <tr style="border-bottom: 1px solid rgb(0, 0, 0);">
                            <td>B</td>
                            <td>P<sub>B</sub></td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">X<sup>*</sup> </td>
                            <td> 5</td>
                            <td>2</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>A<sub>1</sub></td>
                            <td>5</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">12 </td>
                            <td> 1</td>
                            <td>2/5</td>
                            <td>1/5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>A<sub>4</sub></td>
                            <td>0</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">1 </td>
                            <td> 0</td>
                            <td>1/5</td>
                            <td>-2/5</td>
                            <td>1</td>
                        </tr>
                        <tr style="border-top: 1px solid rgb(0, 0, 0);">
                            <td></td>
                            <td>P(x)=60</td>
                            <td></td>
                            <td> 0</td>
                            <td>0</td>
                            <td>5Ó1</td>
                            <td>0</td>
                        </tr>
                    </table>

                    <div class="kerdes" style="margin-top: 40px"> Válaszolja meg az alábbi kérdéseket: </div> 
                    <li> Marad e ki valamilyen nyersanyag az optimális termék összetétel esetén? </li>
                    <li> Ha a kukorica készletemet növelem 2 egységgel, hogyan változik a célfüggvény értéke, illetve az optimális bázis és megoldás? </li>
                    <li> A komló készlet milyen határai között tudjuk meghatározni az optimális megoldást a feladat újbóli megoldása nélkül. Mennyi lesz a végpontokon a célfüggvény értéke? </li>
                    
                </div>
            </div>

            <!--feladat4-->
            <div class="card">
                <div class="card-header">
                    4.feladat (elérhető megoldással - lásd lentebb)
                </div>
                <div class="card-body">
                    <div class="leiras"> Egy bútoripari kisvállalkozás kétféle bútort gyárt: komódotés tálalószekrényt. Egy tálalószekrény előállításához 2 egységnyi faanyagra, 2 egység üvegre és 3 óra szakmunkára van szükség, míg egy komód előállításához 4 egység faanyagra és 2 óra szakmunkára. A rendelkezésre álló kapacitások: 160 egység faanyag, 120 óra szakmunka és 60 egység üveg. </div>
                    <div class="kerdes"> Hogyan tudna maximalizálni a vállalkozás a bevételét, ha egy tálalószekrényt 60 Euróért, egy komódot 80 Euróért tudnak értékesíteni? </div>
                    <div class="leiras">Modell: </div>
                    <div class="centeredEquation">
                        <p> P(x) = 80x<sub>1</sub> + 60x<sub>2</sub> → MAX</p>
                        <p> 1.) 4x<sub>1</sub> + 2x<sub>2</sub> &#8804; 160</p>
                        <p> 2.) 2x<sub>1</sub> &#8804; 60</p>
                        <p> 3.) 2x<sub>1</sub> + 3x<sub>2</sub> &#8804; 120</p>
                        <p> x<sub>1</sub>, x<sub>2</sub> &#8805; 0</p>
                    </div>
                    <div class="leiras">Optimális bázishoz tartozó szimplex tábla: </div>
                    <table align="center">
                        <tr style="border-bottom: 1px solid rgb(0, 0, 0);">
                            <td>B</td>
                            <td>P<sub>B</sub></td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">X<sup>*</sup> </td>
                            <td> 80</td>
                            <td>60</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>A<sub>1</sub></td>
                            <td>80</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">30 </td>
                            <td> 1</td>
                            <td>0</td>
                            <td>3/8</td>
                            <td>0</td>
                            <td>-1/4</td>
                        </tr>
                        <tr>
                            <td>A<sub>4</sub></td>
                            <td>0</td>
                            <td style="border-right: 1px solid rgb(0, 0, 0);">20 </td>
                            <td> 0</td>
                            <td>0</td>
                            <td>1/2</td>
                            <td>1</td>
                            <td>-1</td>
                        </tr>
                        <tr style="border-top: 1px solid rgb(0, 0, 0);">
                            <td></td>
                            <td>P(x)=3600</td>
                            <td></td>
                            <td> 0</td>
                            <td>0</td>
                            <td>15</td>
                            <td>0</td>
                            <td>10</td>
                        </tr>
                    </table>

                    <div class="kerdes" style="margin-top: 40px"> Válaszolja meg az alábbi kérdéseket a feladat újbóli megoldása nélkül a dualitás összefüggések alkalmazásával: <button class="btn btn-outline-danger" title="Megoldás letöltése (pdf)" (click)="downloadSolutionForTask4()"><i class="material-icons">save_alt</i></button> </div> 
                    <li> Melyik nyersanyagból marad és mennyi ha az optimális termelési tervet követjük? </li>
                    <li> Ha az aktuális készletemet egy egység fával (szakmunkával) bővítem, hogyan változik a célfüggvény értéke, azaz a maximális proﬁt? </li>
                    <li> A szakmunka milyen határai között marad a jelenlegi bázis az optimális? A végpontokon határozzuk meg az optimális megoldásokat is! </li>
                    <li> Mennyivel változhat a tálalószekrény ára, hogy az aktuális optimális megoldás optimális maradjon? </li>
                    
                </div>
            </div>

        </div>       
    </div>
</div>
