<h4 id="title"> AZ OPERÁCIÓKUTATÁS TÁRGYRÓL</h4>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tárgy adatok</h5>
        <mat-divider></mat-divider>
        <p class="card-text" style="margin-top: 20px;">Kód: INDV151-K5</p>
        <p class="card-text">Kredit: 5</p>
        <p class="card-text">Tárgyfelelős: Dr. Burai Pál József</p>
        <p class="card-text">Kód: INDV151-K5</p>

        <h5 class="card-title" style="margin-top: 40px;">Tárgyleírás</h5>
        <mat-divider></mat-divider>
        <p class="card-text" style="margin-top: 20px;">
            Az operációkutatás helye a döntési folyamatban. Operációkutatási problémák osztályozása. A lineáris programozás elméleti háttere: a konvex poliéderek elmélete. A lineáris programozás alapproblémája, megoldási módszere: a szimplex módszer; induló bázis keresése: a kétfázisú szimplex módszer. A ciklizálás elkerülése: a lexikografikus szimplex módszer. Szimplex módszer variánsok. Dualitás. A lineáris programozás gyakorlati alkalmazása: a szállítási probléma. Diszkrét programozás. Leszámlálási algoritmusok. Leszámlálási struktúrák. Korlátozás és szétválasztás módszere.
        </p>
    </div>
</div>

<h4 class="alfejezetcim" style="margin-top: 80px;">A tárgyhoz hasznos linkek: </h4>

<div class="card-deck">

    <div class="card text-center">
        <div class="card-block">
        <h4 class="card-title">DEBRECENI EGYETEM HONLAPJA</h4>
        <a class="card-text" href="https://www.inf.unideb.hu/hu/node/76"><small class="text-muted">A megnyitáshoz kattintson ide</small></a>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-block">
        <h4 class="card-title">RÁCZ ANETT FELADATGYŰJTENÉNY PDF</h4>
        <a class="card-text" href="https://arato.inf.unideb.hu/racz.anett/docs/OpkutFeladatgyujtemeny.pdf"><small class="text-muted">A megnyitáshoz kattintson ide</small></a>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-block">
        <h4 class="card-title">GYIRES PÉLDATÁR PDF</h4>
        <a class="card-text" href="https://gyires.inf.unideb.hu/mobiDiak/Glevitzky-Bela/Operaciokutatas-1/opkut1.pdf"><small class="text-muted">A megnyitáshoz kattintson ide</small></a>
        </div>
    </div>

    <div class="card text-center">
    <div class="card-block">
        <h4 class="card-title">DR. RÁCZ ANETT ELÉRHETŐSÉGE</h4>
        <a class="card-text" href="https://www.inf.unideb.hu/hu/racz.anett"><small class="text-muted">A megnyitáshoz kattintson ide</small></a>
    </div>
    </div>
              
</div>
