<h2 class="fejezetcim">II. SZIMPLEX MÓDSZERREL MEGOLDHATÓ FELADATOK </h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="elso2-tab" data-toggle="tab" href="#elso2" role="tab" aria-controls="elso2" aria-selected="true">Elméleti bevezető</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="masodik2-tab" data-toggle="tab" href="#masodik2" role="tab" aria-controls="masodik2" aria-selected="false">Kidolgozott példa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="harmadik2-tab" data-toggle="tab" href="#harmadik2" role="tab" aria-controls="harmadik2" aria-selected="false">Feladatok</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!--2.1 content-->
        <div class="tab-pane fade show active" id="elso2" role="tabpanel" aria-labelledby="elso2-tab">
            <h4 class="alfejezetcim"> 2.1 Elméleti bevezető: </h4>
        </div>
        <!--2.2 content-->
        <div class="tab-pane fade" id="masodik2" role="tabpanel" aria-labelledby="masodik2-tab">
            <h4 class="alfejezetcim"> 2.2 Kidolgozott példa: </h4>
        </div>
        <!--2.3 content-->
        <div class="tab-pane fade" id="harmadik2" role="tabpanel" aria-labelledby="harmadik2-tab">
            <h4 class="alfejezetcim"> 2.3 Feladatok: </h4>
        </div>
    </div>
