<h2 class="fejezetcim">IV. SZÁLLÍTÁSI FELADATOK </h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="elso4-tab" data-toggle="tab" href="#elso4" role="tab" aria-controls="elso4" aria-selected="true">Elméleti bevezető</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="masodik4-tab" data-toggle="tab" href="#masodik4" role="tab" aria-controls="masodik4" aria-selected="false">Kidolgozott példa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="harmadik4-tab" data-toggle="tab" href="#harmadik4" role="tab" aria-controls="harmadik4" aria-selected="false">Feladatok</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!--4.1 content-->
    <div class="tab-pane fade show active" id="elso4" role="tabpanel" aria-labelledby="elso4-tab">
        <h4 class="alfejezetcim"> 4.1 Elméleti bevezető: </h4>
    </div>
    <!--4.2 content-->
    <div class="tab-pane fade" id="masodik4" role="tabpanel" aria-labelledby="masodik4-tab">
        <h4 class="alfejezetcim"> 4.2 Kidolgozott példa: </h4>
    </div>
    <!--4.3 content-->
    <div class="tab-pane fade" id="harmadik4" role="tabpanel" aria-labelledby="harmadik4-tab">
        <h4 class="alfejezetcim"> 4.3 Feladatok: </h4>
    </div>
</div>
