<h3 class="fejezetcim">VI. EGÉSZÉRTÉKŰ PROGRAMOZÁSI FELADATOK </h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="elso6-tab" data-toggle="tab" href="#elso6" role="tab" aria-controls="elso6" aria-selected="true">Elméleti bevezető</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="masodik6-tab" data-toggle="tab" href="#masodik6" role="tab" aria-controls="masodik6" aria-selected="false">Kidolgozott példa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="harmadik6-tab" data-toggle="tab" href="#harmadik6" role="tab" aria-controls="harmadik6" aria-selected="false">Feladatok</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!--6.1 content-->
    <div class="tab-pane fade show active" id="elso6" role="tabpanel" aria-labelledby="elso6-tab">
        <h4 class="alfejezetcim"> 6.1 Elméleti bevezető: </h4>

        <div class="paperUp">

        </div>

    </div>
    <!--6.2 content-->
    <div class="tab-pane fade" id="masodik6" role="tabpanel" aria-labelledby="masodik6-tab">
        <h4 class="alfejezetcim"> 6.2 Kidolgozott példa: </h4>

        <div class="paperUp">

        </div>
    
    </div>
    <!--6.3 content-->
    <div class="tab-pane fade" id="harmadik6" role="tabpanel" aria-labelledby="harmadik6-tab">
        <h4 class="alfejezetcim"> 6.3 Feladatok: </h4>
    
        <div class="paperUp">

        </div>
    
    </div>
</div>
