<h2 class="fejezetcim">I. Graﬁkusan megoldható feladatok: </h2>
<h4 class="alfejezetcim">Elméleti bevezető: </h4>
<div class="paperDown">
    <div class="leiras">A következőkben 2-dimenziós lineáris programozási feladatokat oldunk meg graﬁkusan.
        A módszer azon alapul, hogy az egyenlőtlenség típusú feltételek félsíkokat határoznak meg a 2
        dimenziós térben, és ezen félsíkok metszeteként előállítható a lehetséges megoldások L halmaza,
        melynek ismeretében meghatározható az optimális megoldás. Egy két változót tartalmazó
        egyenlőtlenséget kielégítő pontok halmaza pontosan egy félsík. A problémák általában egynél több
        egyenlőtlenséget tartalmaznak. Ebből adódik, hogy egy pont akkor és csak akkor elégíti ki az összes
        tekintett egyenlőtlenséget, ha mindegyik, az egyenlőtlenségek által meghatározott félsíkban benne
        van. Ez viszont akkor és csak akkor lehetséges, ha a pont eleme az egyenlőtlenségek által
        meghatározott félsíkok metszetének. Tehát a lehetséges megoldások L halmaza pontosan az
        egyenlőtlenségek által meghatározott félsíkok metszetével egyenlő.</div>
    <div class="leiras">A probléma megoldásához meg kell még határoznunk L egy olyan pontját, amelyben a
        célfüggvény maximum feladat esetén maximális, minimum feladat esetén pedig minimális értéket vesz
        fel. A 2-dimenziós, szemléletes megközelítés lehetővé teszi, hogy összefoglaljuk a lineáris
        programozási feladat optimális megoldásának létezésével kapcsolatos lehetőségeket.</div>
    <li>1. Ha L korlátos, akkor L egy konvex sokszög és a feladatnak létezik optimális megoldása. A
        kompaktság a Heine Borel tétel és a Weierstrass tételből következik, hogy létezik optimális
        megoldás.</li>
    <li>2. Ha L nem korlátos, akkor L zárt és véges sok csúcsponttal rendelkező konvex halmaz, továbbá
        létezik optimális megoldása a feladatnak, vagy a célfüggvény minimum feladatnál bármely kicsi
        (maximum feladatnál bármilyen nagy)értéket felvehet a lehetséges megoldások halmazán. Ilyenkor azt
        mondjuk, hogy a célfüggvény minimum feladat esetén alulról (maximum feladat esetén felülről) nem
        korlátos a lehetséges megoldások halmazán, és ebben az esetben nem létezik optimális megoldása a
        feladatnak.</li>
    <li>3. Előfordulhat, hogy L üres halmaz. Ekkor a problémának nincsen lehetséges megoldása,így nem
        létezik optimális megoldás sem.</li>
    <div class="leiras">A felsoroltak igazak tetszőleges lineáris programozási feladatra is.</div>
</div>
