<div class="top">
  <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">OPERÁCIÓKUTATÁS PÉLDATÁR</h4>
          <span class="text-muted">Készítette: Burai Pál, Erdei Edina, Holhós Attila, Rácz Anett</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="material-icons">expand_more</i>
        </button>
      </nav>
    </div>
</div>


<div class="split left">
    <div class="menu">
      <h5 routerLink="/peldatar" routerLinkActive="active" title="Ugrás a menübe, az egész példatár megnyitása">MENU</h5>
      <button type="button" class="btn btn-outline-dark" routerLink="/tartalomjegyzek" title="Ugrás a tartalomjegyzékhez"><i class="material-icons">subject</i>  Tartalomjegyzék</button>
      <mat-divider [ngStyle]="{'padding-top':'20px'}"></mat-divider>
      <button type="button" class="btn btn-outline-dark" routerLink="/chapter1" title="Ugrás a grafikus módszerhez">  Grafikus módszer</button>
      <button type="button" class="btn btn-outline-dark" routerLink="/chapter2" title="Ugrás a szimplex módszerhez">  Szipmlex módszer </button>
      <button type="button" class="btn btn-outline-dark" routerLink="/chapter3" title="Ugrás az érzékenységvizsgálat témaköréhez">  Érzékenység vizsgálat</button>
      <button type="button" class="btn btn-outline-dark" routerLink="/chapter4" title="Ugrás a szállítási feladatokhoz">  Szállítási feladatok</button>
      <button type="button" class="btn btn-outline-dark" routerLink="/chapter5" title="Ugrás a hozzárendelési feladatokhoz">  Hozzárendelési feladatok</button>
      <button type="button" class="btn btn-outline-dark" routerLink="/chapter6" title="Ugrás az egészértékű programozás témaköréhez">  Egészértékű programozás</button>
      <button type="button" class="btn btn-outline-dark" routerLink="/chapter7" title="Ugrás a hálózati folyam témakörhöz">  Hálózati folyam feladatok</button>
      <mat-divider [ngStyle]="{'padding-top':'20px'}"></mat-divider>
      <button type="button" class="btn btn-lg btn-danger" title="Itt megtudhatsz többet az operációkutatás témaköréből, alapjaiból"> Az operációkutatásról</button>
    </div>
  </div>
  
  <div class="split right">

      <router-outlet></router-outlet>
  
  </div>
