.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }
  
  .left {
    left: 0;
    width: 10%;
    height: 100%;
    background-color: rgb(175, 167, 155)
  }
  
  .right {
    right: 0;
    width: 90%;
    height: 100%;
    background-color: antiquewhite;
  }

  .menu button{
    width: 100%;
    height: 10%;
    border: none;
    text-align: left;
    border-radius: 0;
  }

  .menu h5{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }