<div class="top">
  <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">OPERÁCIÓKUTATÁS PÉLDATÁR</h4>
          <span class="text-muted">by Berki Ádám</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="material-icons">expand_more</i>
        </button>
      </nav>
    </div>
</div>


<div class="split left">
    <div>
      <h4>valami left</h4>
      <h4>valami left</h4>
      <h4>valami left</h4>
      <h4>valami left</h4>
    </div>
  </div>
  
  <div class="split right">
    <div>
      <h3>valami right</h3>
      <h3>valami right</h3>
      <h3>valami right</h3>
    </div>  
  </div>

<router-outlet></router-outlet>
