.split {
  position: fixed;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
}

.top{
  position:relative;
}

.left {
  left: 0;
  width: 15%;
  background-color: rgb(136, 129, 118);
  color: black;
}

.right {
  padding: 50px;
  right: 0;
  width: 85%;
  background-color: rgba(184, 172, 158, 0.822);
}

@media screen and (max-width: 500px) {
  .right {
    width: 100%; /* The rights width is 100%, when the viewport is 500px or smaller */
  }
}

.menu button{
  font-weight: 500;
  height: 60px;
  opacity: 0.8;
  width: 100%;
  border: none;
  text-align: left;
  border-radius: 0;
  font-size: 18px;
  color: rgb(24, 24, 24);
  cursor: pointer;
}

.menu button:hover {
  color: rgb(221, 218, 218);
  transform: scale(1.1);
  transition: transform .2s;
}

.menu h5{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.menu h5:hover {
  transform: scale(1.1);
  transition: transform .2s;
}

.fejezetcim {
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.alfejezetcim {
    color:rgb(160, 47, 47);
    margin-top: 80px;
    margin-bottom: 40px;
}

.leiras, li{
  text-indent: 20px;
  position: relative;
  left: 30px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
  line-height: 150%;
  overflow: hidden;
}

li{
  text-indent: 10px;
  font-style: italic;
  text-align: left;
  margin: 12px;
  line-height: 120%;
}

.paperDown {
  background: #fff;
  box-shadow:
    /*layers + shadow*/
    0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px #eee,
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px #eee,
    0 -20px 1px -9px rgba(0,0,0,0.15);
    padding: 3%;
    cursor: pointer;
    margin-bottom: 30px;
}

.paperDown:hover {
  transform: scale(1.02);
  transition: all .5s ease-in-out; 
}

table, th, td {
  border: 1px solid rgb(77, 45, 41);
  width: auto;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
}

table:hover {
  transform: scale(1.3);
  transition: all 1s ease-in-out; 
  box-shadow: 2px 2px #0a0a0abd;
}

th, td {
  text-align: center;
  padding: 5px;
}

.diagram{
  height: 30%; 
  width: 30%;
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.diagram:hover{
  transform: scale(1.3);
  transition: all 1s ease-in-out;
  box-shadow: 2px 2px #0a0a0aad;
}

h5 {
  margin-bottom: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(59, 59, 59);
  border-radius: 15px 15px 0px 0px;
}

.nav-link:hover {
  color: whitesmoke;
  text-decoration: none;
  background-color: rgb(160, 47, 47);
  border: none;
  transition: transform .5s;
  border-radius: 15px 15px 0px 0px;
}