.split {
    position: fixed;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
  }

  .top{
    position:relative;
  }
  
  .left {
    left: 0;
    width: 15%;
    height: 100%;
    background-color: rgb(136, 129, 118);
    color: black;
  }
  
  .right {
    padding: 50px;
    right: 0;
    width: 85%;
    height: 100%;
    background-color: rgba(184, 172, 158, 0.822);
  }

  @media screen and (max-width: 500px) {
    .right {
      width: 100%; /* The rights width is 100%, when the viewport is 500px or smaller */
    }
  }

  .menu button{
    height: 60px;
    width: 100%;
    border: none;
    text-align: left;
    border-radius: 0;
    font-size: 1vw;
    color: rgb(24, 24, 24);
    cursor: pointer;
  }

  .menu button:hover {
    color: rgb(221, 218, 218);
    transform: scale(1.1);
    transition: transform .2s;
  }

  .menu h5{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1.6vw;
    cursor: pointer;
  }

  .menu h5:hover {
    transform: scale(1.1);
    transition: transform .2s;
  }