<h3 class="fejezetcim">VII. HÁLÓZATI FOLYAM FELADATOK </h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="elso7-tab" data-toggle="tab" href="#elso7" role="tab" aria-controls="elso7" aria-selected="true">Elméleti bevezető</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="masodik7-tab" data-toggle="tab" href="#masodik7" role="tab" aria-controls="masodik7" aria-selected="false">Kidolgozott példa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="harmadik7-tab" data-toggle="tab" href="#harmadik7" role="tab" aria-controls="harmadik7" aria-selected="false">Feladatok</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!--7.1 content-->
    <div class="tab-pane fade show active" id="elso7" role="tabpanel" aria-labelledby="elso7-tab">
        <h4 class="alfejezetcim"> 7.1 Elméleti bevezető: </h4>
    </div>
    <!--7.2 content-->
    <div class="tab-pane fade" id="masodik7" role="tabpanel" aria-labelledby="masodik7-tab">
        <h4 class="alfejezetcim"> 7.2 Kidolgozott példa: </h4>
    </div>
    <!--7.3 content-->
    <div class="tab-pane fade" id="harmadik7" role="tabpanel" aria-labelledby="harmadik7-tab">
        <h4 class="alfejezetcim"> 7.3 Feladatok: </h4>
    </div>
</div>