#title {
    word-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    border-radius: 40px 40px 15px 15px;
}

#carouselExampleIndicators {
    background: none;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 0 10px 10px -5px black;
    border-radius: 40px 40px 15px 15px;
}