<h4 id="title">AZ OPERÁCIÓKUTATÁS</h4>

<div class="paperUp">
  <div class="leiras"> 
      A rendszerszemlélet kialakulásával közel egy időben fejlődött ki az összetett folyamatok irányítását, és a vele kapcsolatos döntések megkönnyítését célzó új tudományos terület. Létrejöttét nem a tudomány fejlődése okozta, hanem a műszaki-gazdasági tevékenységben dolgozó gyakorlati szakemberek igénye hozta létre. Egy olyan tudományos irányzatnak, amely lényegében egy tudományos magatartást jelent a döntések előkészítése, meghozatala és azok végrehajtása terén.
  </div>

  <div class="leiras"> 
      A terület uttörője Findezt Frederick Winslow Taylor (1856–1915) volt. A kezdeteket munkásságának köszönhetjük, kutatásai során ő alapozta meg a tudományos munkaszervezést. Hatására az elmúlt évszázadban a szervezés számos területe nyert egzakt módszereket a hozzájuk kötődő sajátos matematikai eszköztár kidolgozása alapján. A folyamatot jelentősen meggyorsította a század második felének informatikai robbanása, melynek hatására a korábban nagy teljesítményűnek tekintett számítógépek milliói kerültek a háztartásokba, illetve a munkahelyekre. Mindezek hatására a gyakran ismétlődő döntési igények megoldása napjainkra jelentősen algoritmizálódott. A szükséges bemeneti adatok érzékelésével és bizonyos összefüggések figyelembevételével napjainkra bizonyos döntések kikerültek az ember látóköréből és automatizálódtak.
  </div>

  <div class="leiras"> 
      A fentieket összefoglalva azt is mondhatjuk, hogy az operációkutatás lényegében nem más, mint tudományos módszerek alkalmazása összetett emberi, gépi, anyagi vagy pénzügyi rendszerek irányítására az iparban, kereskedelemben, közigazgatásban és a honvédelemben. Technikájának legfontosabb sajátosságait az jelenti, hogy:
  </div>
  <li> következetesen törekszik tudományos, illetve egzakt módszerek alkalmazására a döntések tudatosabbá tétele céljából,</li>
  <li> a vizsgált területeket, kérdéseket rendszerszemléletben vizsgálja (így a tovagyűrűződő hatások alapján hatásmechanizmusokat is tud elemezni),</li>
  <li> interdiszciplináris megközelítésben kezeli a problémákat, hiszen azok általában több tudomány (technika, menedzsment, pszichológia, szociológia, matematika, informatika stb.) határán helyezkednek el,</li>
  <li> legfontosabb eszköze a modellalkotás,</li>
  <li> a modellezés eredményeit következetesen szembesíti a gyakorlattal, vagyis a döntési módszert visszacsatolja a gyakorlathoz.</li>
  <div class="leiras"> 
    Az operációkutatás sajátos módszereiből fakadóan speciális lépésekben jut el a problémák megoldásához.
    Először megfogalmazza a megoldandó problémát. Ehhez fel kell ismernie azt, melynek érdekében tudatosan figyeli a vizsgált rendszer működését. Az érzékelt, illetve felmerülő problémára magyarázatokat keres, vagyis feltárja azok okait, illetve megoldásának hatásait. A megoldásra hipotéziseket állít fel. Mivel a szükséges döntések általában többfázisúak, az első szakaszban nem mindig látható a megoldáshoz vezető út.
  </div>
  <div style="text-align: center"><a href="https://www.tankonyvtar.hu/hu/tartalom/tamop412A/2011-0023_Mernoki/section-0022.scorml">[FORRÁS]</a></div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 40px;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/sources/pictures/code.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="../../assets/sources/pictures/code1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img src="../../assets/sources/pictures/math.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img src="../../assets/sources/pictures/deal.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>   

