mat-divider {
  padding-top: 40px;
}

mat-list h4:hover {
  animation: titleAnimation 2s 1;
  cursor: pointer;
}

mat-list-item:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.637);
}

#tartalomjegyzek {
  margin-bottom: 30px;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes titleAnimation {
  30%{
      letter-spacing: 5px;
  }
}

@keyframes slidein {
  from {
      margin-left: 20%;
  }

  to {
      margin-left: 0%;
  }
}