<div class="paper">
  <mat-list>
    <h3>I. Grafikusan megoldható feladatok</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <h4 mat-line>Elméleti bevezető</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <h4 mat-line>Kidolgozott példa</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Feladatok</h4>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3>II. Szipmlex módszerrel megoldható feladatok</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <h4 mat-line>Elméleti bevezető</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <h4 mat-line>Kidolgozott példa</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Feladatok</h4>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3>III. Érzékenység vizsgálat</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <h4 mat-line>Elméleti bevezető</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <h4 mat-line>Kidolgozott példa</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Feladatok</h4>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3>IV. Szállítási feladatok</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <h4 mat-line>Elméleti bevezető</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <h4 mat-line>Kidolgozott példa</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Feladatok</h4>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3>V. Hozzárendelési feladatok</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <h4 mat-line>Elméleti bevezető</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <h4 mat-line>Kidolgozott példa</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Feladatok</h4>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3>VI. Egészértékű programozási feladatok</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <h4 mat-line>Elméleti bevezető</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <h4 mat-line>Kidolgozott példa</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Feladatok</h4>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3>VII. Hálózati folyam feladatok</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <h4 mat-line>Elméleti bevezető</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <h4 mat-line>Kidolgozott példa</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Feladatok</h4>
    </mat-list-item>

  </mat-list>
</div>
