mat-divider {
  padding-top: 40px;
}

mat-list h4:hover, mat-list-item:hover {
  font-weight: bold;
  transform: scale(1.03);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

#tartalomjegyzek {
  margin-bottom: 30px;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
      margin-left: 20%;
  }

  to {
      margin-left: 0%;
  }
}