<h3 class="fejezetcim">Tartalomjegyzék: </h3>
<div class="paperUp" margin-bottom="30px">
  <mat-list>
    <h4>I. Grafikusan megoldható feladatok</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <a mat-line>Elméleti bevezető</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <a mat-line>Kidolgozott példa</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <a mat-line>Feladatok</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h4>II. Szipmlex módszerrel megoldható feladatok</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <a mat-line>Elméleti bevezető</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <a mat-line>Kidolgozott példa</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <a mat-line>Feladatok</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h4>III. Érzékenység vizsgálat</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <a mat-line>Elméleti bevezető</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <a mat-line>Kidolgozott példa</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <a mat-line>Feladatok</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h4>IV. Szállítási feladatok</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <a mat-line>Elméleti bevezető</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <a mat-line>Kidolgozott példa</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <a mat-line>Feladatok</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h4>V. Hozzárendelési feladatok</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <a mat-line>Elméleti bevezető</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <a mat-line>Kidolgozott példa</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <a mat-line>Feladatok</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h4>VI. Egészértékű programozási feladatok</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <a mat-line>Elméleti bevezető</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <a mat-line>Kidolgozott példa</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <a mat-line>Feladatok</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h4>VII. Hálózati folyam feladatok</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>record_voice_over</mat-icon>
      <a mat-line>Elméleti bevezető</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>done</mat-icon>
      <a mat-line>Kidolgozott példa</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>edit</mat-icon>
      <a mat-line>Feladatok</a>
    </mat-list-item>

  </mat-list>
</div>
