<h4 id="title">OPERÁCIÓKUTATÁS PÉLDATÁR</h4>
<div class="peldatarDiv"><app-tartalomjegyzek></app-tartalomjegyzek>
</div>
<div class="peldatarDiv"><app-chapter1></app-chapter1>
</div>
<div class="peldatarDiv"><app-chapter2></app-chapter2>
</div>
<div class="peldatarDiv"><app-chapter3></app-chapter3>
</div>
<div class="peldatarDiv"><app-chapter4></app-chapter4>
</div>
<div class="peldatarDiv"><app-chapter5></app-chapter5>
</div>
<div class="peldatarDiv"><app-chapter6></app-chapter6>
</div>
<div class="peldatarDiv"><app-chapter7></app-chapter7>
</div>

